<!-- <div class="first">
    <div [ngStyle]="{'width.%':width, 'top.px':top}" class="second position-bar"></div>
</div>
<div *ngIf="personalizado?.parametroId">
    <div class="text-center" style="display: flex !important; justify-content: center; align-items: center;">
        <span style="font-size: 10vw; font-weight: bolder; color: rgb(6, 3, 141);">{{ personalizado?.tituloUnoCarteleraDos }}</span>
    </div>
    <div *ngIf="personalizado?.tituloDosCarteleraDos!.length >= 24 && personalizado?.tituloDosCarteleraDos!.length <= 27" class="text-center">
        <span style="font-size: 9vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
    </div>
    <div *ngIf="personalizado?.tituloDosCarteleraDos!.length <= 6" style="display: flex !important; justify-content: center; align-items: center;">
        <span style="font-size: 24vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
    </div>
    <div *ngIf="personalizado?.tituloDosCarteleraDos!.length > 6 && personalizado?.tituloDosCarteleraDos!.length < 24" class="text-center">
        <span style="font-size: 15vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
    </div>
</div> -->