::ng-deep body {
  background: #fffcc7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

// STYLES VEINTE
.is-live {
  position: static;
  background: yellow;
}

.no-live {
  position: static;
}

.font-size-n-puesto {
  font-size: 4vw;
}

.font-color-primero {
  color: #d61d78;
}

.font-size-puesto {
  font-size: 5.5vw;
}

.font-size-puesto-n {
  font-size: 5.5vw;
  margin-left: 2.5vh;
}

@media (max-width: 520px) and (min-width: 360px) {
  .font-size-puesto-n {
    font-size: 5.5vw;
    margin-left: 0vh;
  }
}

@media (max-width: 1257px) and (min-width: 520px) {
  .font-size-n-puesto {
    font-size: 3vw;
  }

  .font-size-puesto {
    font-size: 4.7vw;
  }

  .font-size-puesto-n {
    font-size: 4.7vw;
    margin-left: 2.5vh;
  }
}

// FIN STYLES VEINTE

// STYLES PRIMEROS
.border-table-head {
  background: #b8dc7c;
  border-color: #fffcc7;
  border-style: solid;
  border-width: 0.5vw;
}

.border-table-body {
  background: yellow;
  border-style: solid;
  border-color: #fffcc7;
  border-width: 1vw;
}

.name-table {
  color: #d61d78;
}

.icon-style {
  vertical-align: sub;
  width: 3.5vw;
  margin-right: 1vw;
}
// FIN STYLES PRIMEROS

// INICIO STYLES PRIMEROS TURNOS

.border-table-head-turnos {
  background: #b8dc7c;
  border-color: #fffcc7;
  border-style: solid;
  border-width: 1vw;
}

// FIN STYLES PRIMEROS TURNOS

.first {
  height: 5px;
  width: 100%;
}

.second {
  height: 5px;
  background-color: red;
}

.position-bar {
  // position: -webkit-sticky !important;
  position: absolute !important;
  top: 0px;
  // min-height: calc(100% - 4rem);
}