<div class="first">
  <div [ngStyle]="{'width.%':width, 'top.px':top}" class="second position-bar"></div>
</div>
<!-- INICIO VEINTE -->
<div *ngIf="isVeinte"
 class="container-cartelera">
  <div style="display: flex; align-items: center; justify-content: center">
    <div>
      <img
        [src]="juegoCarteleraActual?.logo"
        class="pr-5"
        style="width: 6rem"
      />
    </div>
    <div *ngIf="isEnVivo">
      <h1 class="text-center font-weight-bold pr-4" style="color: #d61d78">
        (·Sorteo en vivo)
      </h1>
    </div>
    <div>
      <h1 class="text-center font-weight-bold" style="color: #d61d78">
        {{ juegoCarteleraActual?.turno | uppercase }}
        {{ ultimaJugada?.fecha | date: "dd/MM":"GMT" }}
      </h1>
    </div>
  </div>

  <div class="py-0" style="background-color: #b8dc7c">
    <h1 class="text-center font-weight-bold py-2">
      {{ juegoCarteleraActual?.nombre | uppercase }}
    </h1>
  </div>

  <div class="py-1" [ngClass]="{ 'is-live': isEnVivo, 'no-live': !isEnVivo }">
    <div class="jugada-part font-weight-bold">
      <div
        class="row mx-4 justify-content-between form-group"
        style="flex-wrap: nowrap"
      >
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">1-</span>
          <span
            class="col-11 font-color-primero font-size-puesto my-auto"
            *ngIf="ultimaJugada?.puesto1 != null; else isNull"
            >{{ ultimaJugada?.puesto1 | addZero }}
          </span>
          <ng-template #isNull>
            <span class="col-11 font-size-puesto my-auto">&nbsp;</span>
          </ng-template>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">6-</span
          ><span class="col-11 font-size-puesto my-auto">{{
            ultimaJugada?.puesto6 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">11-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto11 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">16-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto16 | addZero
          }}</span>
        </div>
      </div>
      <div
        class="row mx-4 justify-content-between form-group"
        style="flex-wrap: nowrap"
      >
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">2-</span
          ><span
            class="col-11 font-size-puesto my-auto"
            *ngIf="ultimaJugada?.puesto2 != null; else isNull"
            >{{ ultimaJugada?.puesto2 | addZero }}</span
          >
          <ng-template #isNull>
            <span class="col-11 font-size-puesto my-auto">&nbsp;</span>
          </ng-template>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">7-</span
          ><span class="col-11 font-size-puesto my-auto">{{
            ultimaJugada?.puesto7 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">12-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto12 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">17-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto17 | addZero
          }}</span>
        </div>
      </div>
      <div
        class="row mx-4 justify-content-between form-group"
        style="flex-wrap: nowrap"
      >
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">3-</span
          ><span
            class="col-11 font-size-puesto my-auto"
            *ngIf="ultimaJugada?.puesto3 != null; else isNull"
            >{{ ultimaJugada?.puesto3 | addZero }}</span
          >
          <ng-template #isNull>
            <span class="col-11 font-size-puesto my-auto">&nbsp;</span>
          </ng-template>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">8-</span
          ><span class="col-11 font-size-puesto my-auto">{{
            ultimaJugada?.puesto8 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">13-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto13 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">18-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto18 | addZero
          }}</span>
        </div>
      </div>
      <div
        class="row mx-4 justify-content-between form-group"
        style="flex-wrap: nowrap"
      >
        <div class="row col-3 text-center flex-nowrap" style="position: static">
          <span class="col-1 float-left font-size-n-puesto my-auto">4-</span
          ><span
            class="col-11 font-size-puesto my-auto"
            *ngIf="ultimaJugada?.puesto4 != null; else isNull"
            >{{ ultimaJugada?.puesto4 | addZero }}</span
          >
          <ng-template #isNull>
            <span class="col-11 font-size-puesto my-auto">&nbsp;</span>
          </ng-template>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">9-</span
          ><span class="col-11 font-size-puesto my-auto">{{
            ultimaJugada?.puesto9 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">14-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto14 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">19-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto19 | addZero
          }}</span>
        </div>
      </div>
      <div
        class="row mx-4 justify-content-between form-group"
        style="flex-wrap: nowrap"
      >
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">5-</span
          ><span
            class="col-11 font-size-puesto my-auto"
            *ngIf="ultimaJugada?.puesto5 != null; else isNull"
            >{{ ultimaJugada?.puesto5 | addZero }}</span
          >
          <ng-template #isNull>
            <span class="col-11 font-size-puesto my-auto">&nbsp;</span>
          </ng-template>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">10-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto10 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">15-</span>
          <span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto15 | addZero
          }}</span>
        </div>
        <div class="row col-3 text-center flex-nowrap">
          <span class="col-1 float-left font-size-n-puesto my-auto">20-</span
          ><span class="col-11 font-size-puesto my-auto font-size-puesto-n">{{
            ultimaJugada?.puesto20 | addZero
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN VEINTE -->

<!-- INICIO PRIMEROS -->
<table *ngIf="isPrimeros"
  width="100%"
  style="font-size: 3vw"
  class="text-center"
>
  <thead>
    <th><img src="../../../assets/logoProvincia.png" class="icon-style" /></th>
    <th class="border-table-head name-table">LA PREVIA</th>
    <th class="border-table-head name-table">PRIMERO</th>
    <th class="border-table-head name-table">MATUTINA</th>
    <th class="border-table-head name-table">VESPERTINA</th>
    <th class="border-table-head name-table">NOCTURNA</th>
  </thead>
  <tbody style="font-size: 4.5vw">
    <tr>
      <th class="name-table">CDAD.</th>
      <th
        *ngIf="primerCdadPrevia != null; else isNullprimerCdadPrevia"
        class="border-table-body"
      >
        {{ primerCdadPrevia | addZero }}
      </th>
      <ng-template #isNullprimerCdadPrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadPrimera != null; else isNullprimerCdadPrimera"
        class="border-table-body"
      >
        {{ primerCdadPrimera | addZero }}
      </th>
      <ng-template #isNullprimerCdadPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadMatutina != null; else isNullprimerCdadMatutina"
        class="border-table-body"
      >
        {{ primerCdadMatutina | addZero }}
      </th>
      <ng-template #isNullprimerCdadMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadVespertina != null; else isNullprimerCdadVespertina"
        class="border-table-body"
      >
        {{ primerCdadVespertina | addZero }}
      </th>
      <ng-template #isNullprimerCdadVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadNocturna != null; else isNullprimerCdadNocturna"
        class="border-table-body"
      >
        {{ primerCdadNocturna | addZero }}
      </th>
      <ng-template #isNullprimerCdadNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">PROV.</th>
      <th
        *ngIf="primerProvPrevia != null; else isNullprimerProvPrevia"
        class="border-table-body"
      >
        {{ primerProvPrevia | addZero }}
      </th>
      <ng-template #isNullprimerProvPrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvPrimera != null; else isNullprimerProvPrimera"
        class="border-table-body"
      >
        {{ primerProvPrimera | addZero }}
      </th>
      <ng-template #isNullprimerProvPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvMatutina != null; else isNullprimerProvMatutina"
        class="border-table-body"
      >
        {{ primerProvMatutina | addZero }}
      </th>
      <ng-template #isNullprimerProvMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvVespertina != null; else isNullprimerProvVespertina"
        class="border-table-body"
      >
        {{ primerProvVespertina | addZero }}
      </th>
      <ng-template #isNullprimerProvVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvNocturna != null; else isNullprimerProvNocturna"
        class="border-table-body"
      >
        {{ primerProvNocturna | addZero }}
      </th>
      <ng-template #isNullprimerProvNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">CBA.</th>
      <th
        *ngIf="primerCBAPrevia != null; else isNullprimerCBAPrevia"
        class="border-table-body"
      >
        {{ primerCBAPrevia | addZero }}
      </th>
      <ng-template #isNullprimerCBAPrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCBAPrimera != null; else isNullprimerCBAPrimera"
        class="border-table-body"
      >
        {{ primerCBAPrimera | addZero }}
      </th>
      <ng-template #isNullprimerCBAPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCBAMatutina != null; else isNullprimerCBAMatutina"
        class="border-table-body"
      >
        {{ primerCBAMatutina | addZero }}
      </th>
      <ng-template #isNullprimerCBAMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCBAVespertina != null; else isNullprimerCBAVespertina"
        class="border-table-body"
      >
        {{ primerCBAVespertina | addZero }}
      </th>
      <ng-template #isNullprimerCBAVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCBANocturna != null; else isNullprimerCBANocturna"
        class="border-table-body"
      >
        {{ primerCBANocturna | addZero }}
      </th>
      <ng-template #isNullprimerCBANocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">S.FE</th>
      <th
        *ngIf="primerStaFePrevia != null; else isNullprimerStaFePrevia"
        class="border-table-body"
      >
        {{ primerStaFePrevia | addZero }}
      </th>
      <ng-template #isNullprimerStaFePrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerStaFePrimera != null; else isNullprimerStaFePrimera"
        class="border-table-body"
      >
        {{ primerStaFePrimera | addZero }}
      </th>
      <ng-template #isNullprimerStaFePrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerStaFeMatutina != null; else isNullprimerStaFeMatutina"
        class="border-table-body"
      >
        {{ primerStaFeMatutina | addZero }}
      </th>
      <ng-template #isNullprimerStaFeMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerStaFeVespertina != null; else isNullprimerStaFeVespertina"
        class="border-table-body"
      >
        {{ primerStaFeVespertina | addZero }}
      </th>
      <ng-template #isNullprimerStaFeVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerStaFeNocturna != null; else isNullprimerStaFeNocturna"
        class="border-table-body"
      >
        {{ primerStaFeNocturna | addZero }}
      </th>
      <ng-template #isNullprimerStaFeNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">E.RIOS</th>
      <th
        *ngIf="primerERioPrevia != null; else isNullprimerERioPrevia"
        class="border-table-body"
      >
        {{ primerERioPrevia | addZero }}
      </th>
      <ng-template #isNullprimerERioPrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerERioPrimera != null; else isNullprimerERioPrimera"
        class="border-table-body"
      >
        {{ primerERioPrimera | addZero }}
      </th>
      <ng-template #isNullprimerERioPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerERioMatutina != null; else isNullprimerERioMatutina"
        class="border-table-body"
      >
        {{ primerERioMatutina | addZero }}
      </th>
      <ng-template #isNullprimerERioMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerERioVespertina != null; else isNullprimerERioVespertina"
        class="border-table-body"
      >
        {{ primerERioVespertina | addZero }}
      </th>
      <ng-template #isNullprimerERioVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerERioNocturna != null; else isNullprimerERioNocturna"
        class="border-table-body"
      >
        {{ primerERioNocturna | addZero }}
      </th>
      <ng-template #isNullprimerERioNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">MONT.</th>
      <th
        *ngIf="primerMdeoPrevia != null; else isNullprimerMdeoPrevia"
        class="border-table-body"
      >
        {{ primerMdeoPrevia | addZero }}
      </th>
      <ng-template #isNullprimerMdeoPrevia>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerMdeoPrimera != null; else isNullprimerMdeoPrimera"
        class="border-table-body"
      >
        {{ primerMdeoPrimera | addZero }}
      </th>
      <ng-template #isNullprimerMdeoPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerMdeoMatutina != null; else isNullprimerMdeoMatutina"
        class="border-table-body"
      >
        {{ primerMdeoMatutina | addZero }}
      </th>
      <ng-template #isNullprimerMdeoMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerMdeoVespertina != null; else isNullprimerMdeoVespertina"
        class="border-table-body"
      >
        {{ primerMdeoVespertina | addZero }}
      </th>
      <ng-template #isNullprimerMdeoVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerMdeoNocturna != null; else isNullprimerMdeoNocturna"
        class="border-table-body"
      >
        {{ primerMdeoNocturna | addZero }}
      </th>
      <ng-template #isNullprimerMdeoNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
  </tbody>
</table>
<!-- FIN PRIMEROS -->

<!-- INICIO PRIMEROS TURNOS -->
<table *ngIf="isPrimerosTurnos"
  width="100%"
  style="font-size: 3vw"
  class="text-center"
>
  <thead>
    <th colspan="2" class="border-table-head-turnos name-table">
      <img src="../../../assets/logoProvincia.png" class="icon-style mr-5" />
      {{ turnoActual }} {{ horaTurnoActual }}
      {{ fechaTurnoActual | date: "dd/MM":"GMT" }}
    </th>
  </thead>
  <tbody style="font-size: 4.5vw">
    <tr>
      <th style="width: 40%" class="name-table">CIUDAD</th>
      <th
        *ngIf="primerCdad != null; else isNullprimerCdad"
        class="border-table-body"
      >
        {{ primerCdad | addZero }}
      </th>
      <ng-template #isNullprimerCdad>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">PROVINCIA</th>
      <th
        *ngIf="primerProv != null; else isNullprimerProv"
        class="border-table-body"
      >
        {{ primerProv | addZero }}
      </th>
      <ng-template #isNullprimerProv>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">CORDOBA</th>
      <th
        *ngIf="primerCBA != null; else isNullprimerCBA"
        class="border-table-body"
      >
        {{ primerCBA | addZero }}
      </th>
      <ng-template #isNullprimerCBA>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">SANTA FE</th>
      <th
        *ngIf="primerStaFe != null; else isNullprimerStaFe"
        class="border-table-body"
      >
        {{ primerStaFe | addZero }}
      </th>
      <ng-template #isNullprimerStaFe>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">ENTRE RIOS</th>
      <th
        *ngIf="primerERio != null; else isNullprimerERio"
        class="border-table-body"
      >
        {{ primerERio | addZero }}
      </th>
      <ng-template #isNullprimerERio>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">MONTEVIDEO</th>
      <th
        *ngIf="primerMdeo != null; else isNullprimerMdeo"
        class="border-table-body"
      >
        {{ primerMdeo | addZero }}
      </th>
      <ng-template #isNullprimerMdeo>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
  </tbody>
</table>
<!-- FIN PRIMEROS TURNOS -->

<!-- INICO CARTELERA PERSONALIZADA 1 -->
<div *ngIf="personalizadoUno">
  <div style="display: flex !important; justify-content: center; align-items: center;">
      <img *ngIf="personalizado?.imagenCarteleraUno" [src]="personalizado?.imagenCarteleraUno">
      <span *ngIf="personalizado?.tituloUnoCarteleraUno" style="font-size: 18vw; font-weight: bolder; color: rgb(6, 3, 141);">{{ personalizado?.tituloUnoCarteleraUno }}</span>
  </div>
  <div style="display: flex !important; justify-content: center; align-items: center;">
      <span *ngIf="personalizado?.tituloDosCarteleraUno && personalizado?.tituloDosCarteleraUno!.length < 10" style="font-size: 18vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraUno }}</span>
      <span *ngIf="personalizado?.tituloDosCarteleraUno && personalizado?.tituloDosCarteleraUno!.length >= 10" style="font-size: 14vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraUno }}</span>
  </div>
</div>
<!-- <app-personalizado *ngIf="personalizadoUno" 
  [personalizado]="personalizado" 
  (resetCarteleraPersonalizadaUno)="carteleraUno()">
</app-personalizado> -->
<!-- FIN CARTELERA PERSONALIZADA 1 -->

<!-- INICO CARTELERA PERSONALIZADA 2 -->
<div *ngIf="personalizadoDos">
  <div class="text-center" style="display: flex !important; justify-content: center; align-items: center;">
      <span style="font-size: 10vw; font-weight: bolder; color: rgb(6, 3, 141);">{{ personalizado?.tituloUnoCarteleraDos }}</span>
  </div>
  <div *ngIf="personalizado?.tituloDosCarteleraDos!.length >= 24 && personalizado?.tituloDosCarteleraDos!.length <= 27" class="text-center">
      <span style="font-size: 9vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
  </div>
  <div *ngIf="personalizado?.tituloDosCarteleraDos!.length <= 6" style="display: flex !important; justify-content: center; align-items: center;">
      <span style="font-size: 24vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
  </div>
  <div *ngIf="personalizado?.tituloDosCarteleraDos!.length > 6 && personalizado?.tituloDosCarteleraDos!.length < 24" class="text-center">
      <span style="font-size: 15vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraDos }}</span>
  </div>
</div>
<!-- <app-personalizadoDos *ngIf="personalizadoDos" 
  [personalizado]="personalizado" 
  (resetCarteleraPersonalizadaDos)="resetCartelera()">
</app-personalizadoDos> -->
<!-- FIN CARTELERA PERSONALIZADA 2 -->
<!-- <div class="navbar navbar-fixed-bottom"> -->
  <!-- <div id='progressbar'></div> --> 
  <!-- <ngx-loading-bar [color]="color" [height]="height" [diameter]="diameter" [includeSpinner]="false" [fixed]="false" [value]="progressbarValue"></ngx-loading-bar> -->
<!-- </div> -->
<app-network-status></app-network-status>