<div class="container p-0">
  <h3>Detalles del juego</h3>
  <div class="px-2">
    <form [formGroup]="formcont">
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="nombre">Nombre</label>
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            formControlName="nombre"
            id="nombre"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="turno">Turno</label>
        <div class="col-md-8">
          <select
            [(ngModel)]="turnoElegido"
            class="form-control"
            formControlName="turno"
            id="turno"
          >
            <option [value]="" disabled>(seleccionar uno)</option>
            <option *ngFor="let item of turnos" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="logo">Logo (url)</label>
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            formControlName="logo"
            id="logo"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="hora">Hora de jugada</label>
        <div class="col-md-8">
          <input
            class="form-control"
            type="text"
            formControlName="hora"
            id="hora"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="vigente"
          >Está vigente</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="checkbox"
            formControlName="vigente"
            id="vigente"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label" for="juegoActual"
          >Juego en cartelera</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            type="checkbox"
            formControlName="juegoActual"
            id="juegoActual"
          />
        </div>
      </div>
      <div class="form-group row p-2">
        <ng-container *ngIf="modo == 'editar'">
          <!-- <button class="btn btn-danger col-md-2" (click)="eliminar()">
            Eliminar
          </button> -->
          <div class="col-md-2"></div>
          <button class="btn btn-primary col-md-4" (click)="guardar()">
            Guardar cambios
          </button>
          <button class="btn btn-secondary col-md-4" (click)="descartar()">
            Descartar
          </button>
        </ng-container>
        <ng-container *ngIf="modo == 'crear'">
          <div class="col-md-4"></div>
          <button class="btn btn-primary col-md-4" (click)="crear()">
            Guardar nuevo
          </button>
          <button class="btn btn-secondary col-md-4" (click)="descartar()">
            Descartar
          </button>
        </ng-container>
      </div>
    </form>
  </div>
  <div *ngIf="modo == 'editar'" class="pt-3 px-3 pb-0 mt-3 jugadas">
    <div class="row">
      <app-jugadas class="col-12 p-0" [juego]="juego"></app-jugadas>
    </div>
  </div>
</div>
