<div class="container p-0">
    <div class="title-back">
        <div>
            <button class="my-3 ml-3 px-2 btn btn-secondary btn-sm" style="cursor: pointer;" (click)="back()">Volver</button>    
        </div>
        <h3 class="mb-5 mx-auto">Nueva Catelera Personalizada</h3>
    </div>
    <div class="px-2 border-bottom">
        <form [formGroup]="myForm">
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Parametro ID:</label>
                <div class="col-md-8">
                <input
                    class="form-control font-weight-bold"
                    type="text"
                    id="parametroId"
                    formControlName="parametroId"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Principal Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="tituloUnoCarteleraUno"
                    formControlName="tituloUnoCarteleraUno"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="logo">Titulo Secundario Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="tituloDosCarteleraUno"
                    formControlName="tituloDosCarteleraUno"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="hora">Imagen Principal Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="imagenCarteleraUno"
                    formControlName="imagenCarteleraUno"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Principal Cartelera Opcional Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="tituloUnoCarteleraDos"
                    formControlName="tituloUnoCarteleraDos"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Secundario Cartelera Opcional Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="tituloDosCarteleraDos"
                    formControlName="tituloDosCarteleraDos"
                />
                </div>
            </div>
            <div class="form-group row p-2">
                <ng-container>
                    <button class="btn btn-danger col-md-2" (click)="limpiarValores()">
                        Limpiar Valores
                    </button>
                    <div class="col-md-4"></div>
                    <button [disabled]="!myForm.valid" class="btn btn-success col-md-4" (click)="newPersonalizado()">
                        Guardar
                    </button>
                </ng-container>
            </div>
        </form>
    </div>
    <h3 class="mb-5 text-center mt-3">Cateleras Personalizadas</h3>
    <div class="px-2" *ngFor="let per of personalizados">
        <div class="border-bottom">
            <div class="form-group row my-4">
                <label class="col-md-4 col-form-label" for="nombre">Parametro ID:</label>
                <div class="col-md-8">
                <input
                    class="form-control font-weight-bold"
                    type="text"
                    id="parametroId"
                    [(ngModel)]="per.parametroId"
                    [disabled]="true"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Principal Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="nombrePrincipalUno"
                    [(ngModel)]="per.tituloUnoCarteleraUno"
                    [disabled]="per.editable"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="logo">Titulo Secundario Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="nombrePrincipalDos"
                    [(ngModel)]="per.tituloDosCarteleraUno"
                    [disabled]="per.editable"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="hora">Imagen Principal Cartelera Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="imagenOpcionalCarteleraUno"
                    [(ngModel)]="per.imagenCarteleraUno"
                    [disabled]="per.editable"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Principal Cartelera Opcional Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="nombreOpcionalUno"
                    [(ngModel)]="per.tituloUnoCarteleraDos"
                    [disabled]="per.editable"
                />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label" for="nombre">Titulo Secundario Cartelera Opcional Personalizada:</label>
                <div class="col-md-8">
                <input
                    class="form-control"
                    type="text"
                    id="nombreOpcionalDos"
                    [(ngModel)]="per.tituloDosCarteleraDos"
                    [disabled]="per.editable"
                />
                </div>
            </div>
            
            <div class="form-group row p-2">
                <ng-container>
                    <button class="btn btn-danger col-md-2" (click)="deletePersonalizado(per._id, per.parametroId)">
                        Eliminar
                    </button>
                    <div class="col-md-4"></div>
                    <button class="btn btn-primary col-md-4" *ngIf="per.editable" (click)="changeState(per, false)">
                        Editar
                    </button>
                    <button class="btn btn-success col-md-2 mr-1" *ngIf="!per.editable" (click)="updatePersonalizado(per)">
                        Guardar
                    </button>
                    <button class="btn btn-secondary col-md-2 ml-1" *ngIf="!per.editable" (click)="changeState(per, true)">
                        Salir Modo Edición
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>
  