<table width="100%" style="font-size: 3vw" class="text-center">
  <thead>
    <th><img src="../../../assets/logoProvincia.png" class="icon-style" /></th>
    <th class="border-table-head name-table">PRIMERO</th>
    <th class="border-table-head name-table">MATUTINA</th>
    <th class="border-table-head name-table">VESPERTINA</th>
    <th class="border-table-head name-table">NOCTURNA</th>
  </thead>
  <tbody style="font-size: 4.5vw">
    <tr>
      <th class="name-table">CDAD.</th>
      <th
        *ngIf="primerCdadPrimera != null; else isNullprimerCdadPrimera"
        class="border-table-body"
      >
        {{ primerCdadPrimera | addZero }}
      </th>
      <ng-template #isNullprimerCdadPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadMatutina != null; else isNullprimerCdadMatutina"
        class="border-table-body"
      >
        {{ primerCdadMatutina | addZero }}
      </th>
      <ng-template #isNullprimerCdadMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadVespertina != null; else isNullprimerCdadVespertina"
        class="border-table-body"
      >
        {{ primerCdadVespertina | addZero }}
      </th>
      <ng-template #isNullprimerCdadVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerCdadNocturna != null; else isNullprimerCdadNocturna"
        class="border-table-body"
      >
        {{ primerCdadNocturna | addZero }}
      </th>
      <ng-template #isNullprimerCdadNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">PROV.</th>
      <th
        *ngIf="primerProvPrimera != null; else isNullprimerProvPrimera"
        class="border-table-body"
      >
        {{ primerProvPrimera | addZero }}
      </th>
      <ng-template #isNullprimerProvPrimera>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvMatutina != null; else isNullprimerProvMatutina"
        class="border-table-body"
      >
        {{ primerProvMatutina | addZero }}
      </th>
      <ng-template #isNullprimerProvMatutina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvVespertina != null; else isNullprimerProvVespertina"
        class="border-table-body"
      >
        {{ primerProvVespertina | addZero }}
      </th>
      <ng-template #isNullprimerProvVespertina>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
      <th
        *ngIf="primerProvNocturna != null; else isNullprimerProvNocturna"
        class="border-table-body"
      >
        {{ primerProvNocturna | addZero }}
      </th>
      <ng-template #isNullprimerProvNocturna>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">CBA.</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">S.FE</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">E.RIOS</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">MONT.</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
      <th class="border-table-body">-</th>
    </tr>
  </tbody>
</table>
