
li{
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
  background-color: rgb(208, 255, 209);
  border: 1px solid silver;
  border-radius: 0.5rem;
  list-style: none;
  cursor: pointer;
}

h3{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.viewcard{
  padding: 1rem;
  border: 1px solid silver;
  border-radius: 0.5rem;
}

.row{
  margin-top: 0.5rem;
}

.cabecera {
  background-color: green;
  color: white;
}

.juegoSeleccionado{
  font-weight: bolder;
  background-color: rgb(233, 191, 135);
}

.sub-menu-turnos {
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.pointer-sub-menu:hover {
  cursor: pointer;
}