<div class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="viewcard cabecera">
        <h1 class="cabecera text-center">Panel de control</h1>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="">
        <h4 class="text-center">Cargar Jugadas Por Turno</h4>
      </div>
      <div class="viewcard sub-menu-turnos" style="background-color: burlywood;">
        <span class="font-weight-bold pointer-sub-menu" (click)="goTurnosEdit('La Previa')">LA PREVIA</span>
        <span class="font-weight-bold pointer-sub-menu" (click)="goTurnosEdit('Primero')">PRIMERO</span>
        <span class="font-weight-bold pointer-sub-menu" (click)="goTurnosEdit('Matutina')">MATUTINA</span>
        <span class="font-weight-bold pointer-sub-menu" (click)="goTurnosEdit('Vespertina')">VESPERTINA</span>
        <span class="font-weight-bold pointer-sub-menu" (click)="goTurnosEdit('Nocturna')">NOCTURNA</span>
      </div>
    </div>
    <div class="col-md-12 mt-2">
      <div class="viewcard sub-menu-turnos" style="background-color: burlywood;">
        <button class="btn btn-success" (click)="goPersonalizados()">Carteleras Personalizadas</button>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-2">
    <div class="col-md-4 mb-2">
      <div class="viewcard">
        <h3>Juegos disponibles</h3>
        <p>Click en un item para ver detalles</p>
        <div class="px-1">
          <ul class="px-0 my-0">
            <li
              (click)="onCrearJuegoClicked()"
              style="background-color: rgb(122, 170, 122)"
            >
              [ Crear juego ]
            </li>
            <li *ngFor="let j of juegos" (click)="onJuegoClicked(j)" [ngClass]="{juegoSeleccionado: j==juegoSeleccionado}">
              {{ j.nombre }} ({{j.turno}})
            </li>
            <li *ngIf="juegos.length == 0 && !queryComplete" style="background-color: beige">
              (cargando...)
            </li>
            <li *ngIf="juegos.length == 0 && queryComplete" style="background-color: beige">
              (No hay juegos disponibles)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-2">
      <div class="viewcard">
        <div *ngIf="juegoSeleccionado">
          <app-juego-detail
            [juego]="juegoSeleccionado"
            [modo]="mode"
            (emisor)="manejarEventoDetalle($event)"
          ></app-juego-detail>
        </div>
        <div *ngIf="!juegoSeleccionado">
          <p>No ha seleccionado ningun juego aún</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-network-status></app-network-status>