::ng-deep body {
  background: #fffcc7;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.border-table-head {
  background: #b8dc7c;
  border-color: #fffcc7;
  border-style: solid;
  border-width: 1vw;
}

.border-table-body {
  background: yellow;
  border-style: solid;
  border-color: #fffcc7;
  border-width: 1vw;
}

.name-table {
  color: #d61d78;
}

.icon-style {
  vertical-align: sub;
  width: 3.5vw;
  margin-right: 1vw;
}
