<table width="100%" style="font-size: 3vw" class="text-center">
  <thead>
    <th colspan="2" class="border-table-head name-table">
      <img src="../../../assets/logoProvincia.png" class="icon-style mr-5" />
      {{ turnoActual }} {{ horaTurnoActual }}
      {{ fechaTurnoActual | date: "dd/MM":"GMT" }}
    </th>
  </thead>
  <tbody style="font-size: 4.5vw">
    <tr>
      <th style="width: 40%" class="name-table">CIUDAD</th>
      <th
        *ngIf="primerCdad != null; else isNullprimerCdad"
        class="border-table-body"
      >
        {{ primerCdad | addZero }}
      </th>
      <ng-template #isNullprimerCdad>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">PROVINCIA</th>
      <th
        *ngIf="primerProv != null; else isNullprimerProv"
        class="border-table-body"
      >
        {{ primerProv | addZero }}
      </th>
      <ng-template #isNullprimerProv>
        <th class="border-table-body">&nbsp;</th>
      </ng-template>
    </tr>
    <tr>
      <th class="name-table">CORDOBA</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">SANTA FE</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">ENTRE RIOS</th>
      <th class="border-table-body">-</th>
    </tr>
    <tr>
      <th class="name-table">MONTEVIDEO</th>
      <th class="border-table-body">-</th>
    </tr>
  </tbody>
</table>
