<div class="container">
  <div class="row py-1">
    <h3>Jugadas</h3>
  </div>
  <div class="row py-2">
    <div class="crear-jugada col-12">
      <form [formGroup]="formCrear" class="p-2 row form-group">
        <input
          class="col-md-3 form-control"
          type="number"
          placeholder="dia"
          name="dia"
          id="dia"
          formControlName="dia"
        />
        <input
          class="col-md-3 form-control"
          type="number"
          placeholder="mes"
          name="mes"
          id="mes"
          formControlName="mes"
        />
        <input
          class="col-md-3 form-control"
          type="number"
          placeholder="año"
          name="anno"
          id="anno"
          formControlName="anno"
        />
        <button class="btn btn-primary col-md-3" (click)="botonCrear()">Crear</button>
      </form>
    </div>
  </div>
  <ng-container *ngIf="juego">
    <div *ngIf="jugadas == null || !(jugadas.length > 0)" class="row py-1">
      <p>No hay jugadas de este juego para mostrar</p>
    </div>
    <ng-container *ngIf="jugadas != null && jugadas.length > 0">
      <div *ngFor="let jug of jugadas" class="row py-1">
        <app-jugada-item
          [jugada]="jug"
          [juego]="juego"
          (emisor)="manejarEventos($event)"
        ></app-jugada-item>
      </div>
    </ng-container>
    <div>
      <div class="row" *ngIf="proximasJugadas">
        <button class="col-12 btn btn-outline-primary" (click)="botonCargarMasJugadas()">Buscar mas jugadas</button>
      </div>
    </div>
  </ng-container>
</div>
