<div class="alert alert-danger network-status" [ngStyle]="{'left.px':left, 'top.px':top}" role="alert" *ngIf="netStatus === 'Offline'">
    <h4 class="text-center">No hay conexión a internet</h4>
    <h6 class="text-center">Se reiniciará al volver internet...</h6>
</div>
