::ng-deep body {
  background: rgb(250, 250, 250);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: 'humnst777_blk_btblack';
  src: url('./../../../assets/font/hum777k-webfont.woff2') format('woff2'),
       url('./../../../assets/font/hum777k-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

span {
  font-family: 'humnst777_blk_btblack';
}

.first {
  height: 5px;
  width: 100%;
}

.second {
  height: 5px;
  background-color: red;
}

.position-bar {
  position: absolute !important;
  top: 0px;
}