<!-- <div class="first">
    <div [ngStyle]="{'width.%':width, 'top.px':top}" class="second position-bar"></div>
</div>
<div *ngIf="personalizado?.parametroId">
    <div style="display: flex !important; justify-content: center; align-items: center;">
        <img *ngIf="personalizado?.imagenCarteleraUno" [src]="personalizado?.imagenCarteleraUno">
        <span *ngIf="personalizado?.tituloUnoCarteleraUno" style="font-size: 18vw; font-weight: bolder; color: rgb(6, 3, 141);">{{ personalizado?.tituloUnoCarteleraUno }}</span>
    </div>
    <div style="display: flex !important; justify-content: center; align-items: center;">
        <span *ngIf="personalizado?.tituloDosCarteleraUno && personalizado?.tituloDosCarteleraUno!.length < 10" style="font-size: 18vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraUno }}</span>
        <span *ngIf="personalizado?.tituloDosCarteleraUno && personalizado?.tituloDosCarteleraUno!.length >= 10" style="font-size: 14vw; font-weight: bolder; color: rgb(120, 190, 32);">{{ personalizado?.tituloDosCarteleraUno }}</span>
    </div>
</div> -->