.labelactiva {
  background-color: rgb(131, 213, 132);
}

.labelinactiva {
  background-color: silver;
}

.jugada-part {
  background-color: rgb(244, 255, 244);
  border: solid silver 1px;
  border-radius: 0.5rem;
}

.puesto {
  font-size: larger;
}

.inputfecha {
  font-size: x-large;
  font-weight: bold;
}

.forminactivo {
  background: none;
  border: none;
}

.width-edit-turno {
  width: 45rem;
}