<form [formGroup]="form" class="jugada-part my-2" (click)="jugClicked()" [ngClass]="{'width-edit-turno': title}">
  <div class="row py-2 m-0">
    <div class="col-lg-3 text-center d-flex align-items-center px-1 justify-content-center flex-column">
      <h3 *ngIf="title" class="px-2">
        {{ title }} <br> {{ juego.horaDelSorteo + ' HS' }}
      </h3>
      <h3 class="text-center">
        {{ getFechaFormateada() | date: "dd/MM/yyyy":"GMT" }}
      </h3>
    </div>
    <div class="col-lg-9 px-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto1"
                >
                  1
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto1"
                  id="puesto1"
                  formControlName="puesto1"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto2"
                >
                  2
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto2"
                  id="puesto2"
                  formControlName="puesto2"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto3"
                >
                  3
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto3"
                  id="puesto3"
                  formControlName="puesto3"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto4"
                >
                  4
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto4"
                  id="puesto4"
                  formControlName="puesto4"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto5"
                >
                  5
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto5"
                  id="puesto5"
                  formControlName="puesto5"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto6"
                >
                  6
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto6"
                  id="puesto6"
                  formControlName="puesto6"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto7"
                >
                  7
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto7"
                  id="puesto7"
                  formControlName="puesto7"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto8"
                >
                  8
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto8"
                  id="puesto8"
                  formControlName="puesto8"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto9"
                >
                  9
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto9"
                  id="puesto9"
                  formControlName="puesto9"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto10"
                >
                  10
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto10"
                  id="puesto10"
                  formControlName="puesto10"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto11"
                >
                  11
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto11"
                  id="puesto11"
                  formControlName="puesto11"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto12"
                >
                  12
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto12"
                  id="puesto12"
                  formControlName="puesto12"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto13"
                >
                  13
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto13"
                  id="puesto13"
                  formControlName="puesto13"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto14"
                >
                  14
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto14"
                  id="puesto14"
                  formControlName="puesto14"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto15"
                >
                  15
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto15"
                  id="puesto15"
                  formControlName="puesto15"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto16"
                >
                  16
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto16"
                  id="puesto16"
                  formControlName="puesto16"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto17"
                >
                  17
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto17"
                  id="puesto17"
                  formControlName="puesto17"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto18"
                >
                  18
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto18"
                  id="puesto18"
                  formControlName="puesto18"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto19"
                >
                  19
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto19"
                  id="puesto19"
                  formControlName="puesto19"
                />
              </div>
            </div>
            <div class="m-2">
              <div class="form-group row mb-0">
                <label
                  [ngClass]="{
                    labelactiva: editable,
                    labelinactiva: !editable
                  }"
                  class="col-form-label col-lg-3 px-1 text-center"
                  for="puesto20"
                >
                  20
                </label>
                <input
                  class="col-form-control col-lg-9 puesto px-1"
                  type="text"
                  name="puesto20"
                  id="puesto20"
                  formControlName="puesto20"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 m-0" *ngIf="editable && !title">
    <button class="btn btn-danger col-md-2" (click)="eliminar()">
      Eliminar
    </button>
    <div class="col-md-2"></div>
    <button class="btn btn-primary col-md-4" (click)="guardar()">
      Guardar cambios
    </button>
    <button class="btn btn-secondary col-md-4" (click)="descartar()">
      Descartar
    </button>
  </div>
</form>
