<div class="mb-2 background-title">
    <div>
        <h6 class="float-left my-3 ml-3 px-2" style="color: white;cursor: pointer;background: black;" (click)="back()">Volver</h6>    
    </div>
    <h1 class="text-center">Turno: {{turno | uppercase}}</h1>
</div>

<div class="container-juegos">
    <div *ngFor="let j of juegos">
        <app-jugada-item
          [jugada]="j.jugadas"
          [juego]="j"
          [title]="j.nombre"
        ></app-jugada-item>
    </div>
</div>

<p class="text-center my-4">Presione la tecla "G" para guardar las jugadas.</p>