.background-title {
    border-bottom: groove;
    background-color: darkgrey;
}

.container-juegos {
    min-height: 40vh;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.border-title-card {
    border-bottom-style: solid;
    border-bottom-width: thin;
}